@font-face {
    font-family: "Museo";
    src: url("../fonts/MuseoSans_900.otf"); format:("otf");
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: "Inter";
    src: url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
    font-style: normal;
    font-weight: 400;
}

body {
    padding: 0;
    margin: 0;
}

a:visited {text-decoration: none; color:black;}

h1,
h2, 
h3,
li {
    font-family: "Museo", Verdanam sans-serif;
    list-style-type: none;
}

p {
    font-family: "Inter", Verdana, sans-serif;
}

@media (max-width: 640px) {
    h1 {font-size: 32px;}
    h2 {font-size: 26px;}
    h3 {font-size: 20px;}
}

@media (min-width: 640px) and (max-width: 1007px) {
    h1 {font-size: 35px;}
    h2 {font-size: 29px;}
    h3 {font-size: 23px;}
    p {font-size: 18px;}
}

@media (min-width: 1008px) {
    h1 {font-size: 40px;}
    h2 {font-size: 34px;}
    h3 {font-size: 28px;}
    p {font-size: 20px;}
}


/* HEADER STYLES */
header,
footer {
    background-color: rgb(205, 206, 155);
    position: relative;
}

.header-logo {
    margin: 3em;
}

#menu-checkbox {
    display: none;
}

nav a {
    display: inline-block;
    text-decoration: none;
    padding-bottom: 20px;
    text-transform: uppercase;

}

ul {
    text-align: end;
    margin-right: 7%;
    margin-top: 0px;
}

#menu-checkbox:checked ~ nav {
    display: block;
}

.hamburger {
    position: absolute;
    cursor: pointer;
}

nav li a:hover {
    color:rgb(205, 206, 155);
    background-color: black;
    padding: 0.25em;
    border-radius: 1em;
}


/* FOOTER STYLES */
footer {
    margin-top: 2em;
    padding-bottom: 1em;
    flex-direction: column;
    text-align: center;
}

.footer_logo {
    max-width: 174px;
    max-height: 76px;
    margin: 5% auto 0px;
}

/* INDEX STYLES */
.explore_image {
    max-width: 224px;
    margin: 1rem auto;
}

.explore h1 {
    font-size: 36px;
    margin: 0.5em auto 0px;
    text-transform: uppercase;
}

.explore h2,
.visit_us h2 {
    margin-bottom: 8px;
}

.explore p {
    margin-top: auto;
    line-height: 1.3;
}

.index_info {
    padding: 0.4em 2em 0em;
    position: relative;
    border-radius: 3px;
    margin-bottom: 1.5em;
}

.yellow {background-color: rgb(254, 197, 45, 70%);}
.red {background-color: rgb(245, 116, 97, 70%);}
.purple {background-color: rgb(200, 75, 109, 70%);}
.gray {background-color: rgb(194, 187, 169, 70%);}

.read_more {
    border-radius: 1em;
    text-decoration: underline;
    text-align: end;
}

.image_divider {
    width: 100%;
    margin-bottom: 2em;
}


.opening_hours {
    background-color: rgb(254, 197, 45, 70%);
    padding: 0.2em 0em;
    border-radius: 0.5em;
    text-align: center;
}

.visit_us {
    flex-direction: column;
    margin: auto;
}

.map_image {
    margin: 1rem auto;
}

.museum_night {
    object-fit: cover;
    width: 500px;
    max-height: 333px;
    grid-row: 1/3;
    grid-column: 2/3;
    justify-self: center;
    align-self: center;
}   

.center p,
.center h2 {
    margin: 16px 30px;
}

.margin_bot {
    margin-bottom: 3em;
}

.event_date {
    text-align: end;
    font-weight: bold;
}

@media (max-width:640px) {
    .exhibition_image {
        max-width: 300px;
    }

    .events {
        width: 300px;
    }
}

@media (min-width:640px) and (max-width:1007px) {
    .exhibition_image {
        max-width: 400px;
    }

    .center {
        max-width: 400px;
    } 
}



@media (max-width: 770px) {
   .events {
        display: flex;
        flex-direction: column;
        margin: auto;
        max-width: 400px;
        line-height: 1.4;
   }

   .events h2,
   .text_box,
   .text_box_2 {
        margin: 1em;
   }
}

@media (min-width: 770px) {
    .title {
        margin-left: 3em;
    }

    .event_box {
        display: grid;
        grid-template-columns: repeat(2, auto); 
    }

    .text_box {
        grid-column: 2/3;
        margin: auto 2em;
    }

    .text_box_2 {
        margin: auto 2em;
    }

    .events_image {
        grid-column: 1/2;
        grid-row: 1/3;
        align-self: center;
        justify-self: center;
    }

    .event_title {
        margin: 1em 1em 0;
    }

    .event_title,
    .text_box_2 {
        justify-self: center;
    }
}



/* ABOUT STYLES */
.about {
    margin: 4em;
    line-height: 1.4;
}

.about img {
    width: 100%;
    object-fit: cover;
    height: 200px;
}

/* GET INVOLVED STYLES */
.volunteer {
    object-position: -9% 0;
}

.internship {
    object-position: -2% 0;
}

fieldset {
    border: none;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
}

.submit_button {
    border-radius: 1em;
    width: 40%;
    margin: auto;
}

.placement {
    margin-bottom: 2em;
}

.message {
    padding-bottom: 4em;
}

input {
    padding: 10px;
    margin-bottom: 1em;
}
